*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');


:root{

    --soft-blue-when-click: hsl(214, 41%, 58%);
    --bg-main:hsl(217, 54%, 11%);
    --text-cyan:hsl(178, 100%, 50%);
    --card-bg:hsl(214, 49%, 15%);

}

body{
    background: var(--bg-main);
    display: grid;
    place-items: center;
    font-weight: 500;
    padding: .7rem;
    font-size: 1rem

}


.main__container{
padding: .9rem;
display: grid;
place-items: center;
width: 100%;
}

img,.main__image{
    max-width: 100%;;
}


.main__image,img,.main__container,.main,.card,.avatar{
    border-radius: .8rem;
}

.main__title{
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    font-size: 1.3rem;
    font-family: 'Outfit', sans-serif;
}

.main__title:hover{
    color: aqua;
    cursor: pointer;
}


.card{
    background: var(--card-bg);
    padding: 1rem;
    height: 100%;
    display: grid;
    gap:1rem;
    box-shadow: 5px 30px 30px  hsla(215, 54%, 7%, 0.87);
}

.main__desc{
    font-size:1rem;
    color: hsl(214, 24%, 55%);
    font-family: 'Outfit', sans-serif;
    font-weight: 600;

}

.main__info__value{
    color:var(--text-cyan);
    font-weight:500;
    font-size: 1.1rem;
    font-family: 'Outfit', sans-serif;
}


.main__info{
    color: hsl(214, 24%, 55%);
    justify-content: space-between;
    display: flex;
    align-items: center;
    gap:2rem;
}

.value{
    display: flex;
    gap:.5rem;
    align-items: center;
    
}
.text-primary{
    color: hsl(214, 24%, 55%);
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 1rem;
}
hr{
    height: auto;
    border: 1px solid hsl(215, 32%, 27%);
}

.main__info__value{
    font-weight: 800;
}

p{
    display: inline;
}
.credits{
        display:flex;
        align-items: center;
}

.credits img{
    border:1px solid white;
    border-radius: 50%;
    max-width: 35%;

}


.credits__detail{
    color:hsl(214, 35%, 62%);
    font-family: 'Outfit',sans-serif;
    font-size: 1rem;
    font-weight:500;
    margin-left: -2rem;
}


.name{
    color: white;
    margin: .4rem;
}



.card__image__top:hover{
    filter: saturate(150%) opacity(60%);
}

.card-image:hover .view-img{
    display: block;
}
.card-image{
    border-radius: 1.1rem;
    background: rgb(131, 141, 199);
    height: 99%;
}

.view-img{
    position: absolute;
    top:22%;
    left:41%;
    width: 5rem;
    display: none;
}



@media  screen and (max-width:10240px) {
    

    
    .main__title{
        font-size: 1.4em;
    }
    .main__container{
        width: 50vh;
        height: 50vh;
        margin-top: 3rem;
    }

 
    .view-img{
        position: absolute;
        left:48%;
        display: none;
        top:30%;
    }

    .main__desc{
        font-size: 1.3rem;
    }
}


